
<div class="navbar navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" routerLink="/home"><i-home></i-home>Silicon Solution QA Team</a>
    <div class="navbar-btn-group">
      <a class="nav-link" href="javascript:void(0)" (click)="showFullList()">Full list</a>
      <a class="nav-link" href="javascript:void(0)" (click)="showFavoriteList()">Favorites</a>
      <a class="nav-link" href="javascript:void(0)" routerLink="/login">Logout</a>
    </div>
</div>

  <div class="table-container">
    <mat-progress-bar mode="indeterminate" *ngIf="!dataSource"></mat-progress-bar>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingInfo"></mat-progress-bar>
    <div class="card w-75 p-0 mat-elevation-z8">
      <div class="table-nav">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="btn-group">
              <button mat-button (click)="onInsertion(event)"><i-plus-square></i-plus-square>Add</button>
              <button mat-icon-button (click)="onRefresh()"><i-refresh-ccw></i-refresh-ccw></button>
              <mat-slide-toggle (change)="onAutoFreshChange($event)" >Auto refresh</mat-slide-toggle>
              <mat-form-field>
                  <mat-select placeholder="Sort By" (selectionChange)="onSortChange($event.value.toLowerCase())">
                    <mat-option *ngFor="let key of columns" [value]="key.value" >
                      {{ key.columnDef }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Order By" (selectionChange)="onOrderChange($event.value)" [disabled]="!canSort">
                    <mat-option *ngFor="let order of orders" [value]="order">
                      {{ order }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
      <table mat-table [dataSource]="pageDataSource"  *ngIf="pageDataSource">

        <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
          <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.data.length" 
          [pageSize]="5" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>