/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1vw;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  display:flex;
  align-items: baseline;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-btn-group{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: end;
  

}

.nav-link{
  color: white;
}

i-home{
  position: relative;
  top:2px;
  right: 1px;
}


/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
/*
 * Table
 */
.table-container{
  width: 100%;
  height: 100%;
  background-color: #ff8f3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  z-index: 1;
  min-height: 50%;
  height: 85%;
  background: rgba(255, 255, 255);
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; 
}

.card::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
} 

.card::-webkit-scrollbar-thumb {
  background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.table-nav{
  width: 100%;
  height: 9%;
  padding: 0 1em 0 1em;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}

.table-content{
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-group{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
mat-form-field{
  margin-right: 1em;
}

.btn-group button{
  padding: 0 .75em 0 .75em
}

.btn-group mat-slide-toggle{
  padding: 0 .75em 0 .75em
}

table{
  width: 100%;
  height: 75%;
  text-align: center;
  overflow: hidden;
}

table tr:hover td {
  background-color: rgb(255, 177, 113);
  cursor: pointer;
}

.mat-header-cell{
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
}

mat-paginator{
  height: 9%;
}