
<div class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i-home></i-home>Silicon Solution QA Team</a>
    <a class="nav-link" href="javascript:void(0)">Favorites</a>
    <a class="nav-link" href="javascript:void(0)">Favorites</a>
    <a class="nav-link" href="javascript:void(0)">Logout</a>

</div>

  <div class="table-container">
    <div class="card w-75 p-0 mat-elevation-z8">
      <div class="table-nav">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="btn-group">
              <mat-form-field>
                  <mat-select placeholder="Sort By">
                    <mat-option *ngFor="let key of keys" [value]="key">
                      {{ key }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Order By">
                    <mat-option *ngFor="let order of orders" [value]="order">
                      {{ order }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
      <table mat-table [dataSource]="dataSource" cdkScrollable>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Vender">
            <th mat-header-cell *matHeaderCellDef> Vender </th>
            <td mat-cell *matCellDef="let element"> {{element.vender}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="Chipset">
            <th mat-header-cell *matHeaderCellDef> Chipset </th>
            <td mat-cell *matCellDef="let element"> {{element.chipset}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="Devices">
            <th mat-header-cell *matHeaderCellDef> Devices </th>
            <td mat-cell *matCellDef="let element"> {{element.device}} </td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="Timestamp">
              <th mat-header-cell *matHeaderCellDef> Timestamp </th>
              <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>