mat-toolbar{
    background-color: rgba(255, 255, 255, 0.95);;
    padding: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
}

mat-button-toggle-group{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2)
}

.mat-button-toggle-checked {
    background-color: transparent;
    color: rgb(255, 177, 113);
    border-bottom: 2px;
}
::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: center !important;
    box-sizing: border-box;
    width: 100%;
}

file-drop{
    margin-bottom: 1em;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding-left: 24px;
    padding-right: 15px;
}

.dropzone {
    min-height: 200px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  
.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
}

.mat-dialog-content-zoom-in {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 90vh;
    max-width: 90vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mat-dialog-actions {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;
    justify-content: center;
}