<div id="dialog-wrapper">
  <mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
  <mat-dialog-content [ngClass] = "zoom_state == 'in' ? 'mat-dialog-content-zoom-in' : ''">
      <mat-toolbar>
        <mat-button-toggle-group  (change)="onChangeSheet($event)">
          <mat-button-toggle value="general" [checked]='true'>General Info</mat-button-toggle>
          <mat-button-toggle value="pc">PC Info</mat-button-toggle>
          <mat-button-toggle value="dut">DUT Info</mat-button-toggle>
          <mat-button-toggle value="tester">Tester Info</mat-button-toggle>
          <mat-button-toggle value="description">Description</mat-button-toggle>
          <mat-button-toggle value="document">Document</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-toolbar>
      <div class="container" [ngSwitch]="selectedSheet">
        <div *ngSwitchCase="'general'">
          <p class="row">
            <mat-form-field appearance="outline" class="col">
              <mat-label [ngClass]="idError ? 'text-danger' : ''">Station Name</mat-label>
              <input matInput [ngClass]="idError ? 'text-danger' : ''" placeholder="Station Name" 
                value="{{station.vender + '-' + station.chipset + '-' + station.device | lowercase}}UP" id="id" #station_id [readonly] = "true" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
              <mat-label>Vender Name</mat-label>
              <input matInput placeholder="Vender Name" [(ngModel)]="station['vender']" [readonly] = "readOnly" id="vender" (blur) = "checkExisting(station_id, $event)" 
                  [matAutocomplete]="auto" (focus)="giveSuggestion($event)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
              <mat-label>Chipset Number</mat-label>
              <input matInput placeholder="Chipset Number" [(ngModel)]="station['chipset']" id="chipset" [readonly] = "readOnly" (blur) = "checkExisting(station_id, $event)" 
                  [matAutocomplete]="auto" (focus)="giveSuggestion($event)">
            </mat-form-field>
          </p>
          <p class="row">
            <mat-form-field appearance="outline" class="col">
              <mat-label>Number of Device</mat-label>
              <input matInput placeholder="Number of Device"  [(ngModel)]="station['device']" id="device" [readonly] = "readOnly" (blur) = "checkExisting(station_id, $event)" 
                  [matAutocomplete]="auto" (focus)="giveSuggestion($event)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
              <mat-select placeholder="Station Status" [(ngModel)]="station['status']" id="status" [disabled] = "readOnly">
                <mat-option *ngFor="let status of stationStatus" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p class="row">
              <mat-label for="station_picture">Station Picture</mat-label>
              <input type="file" class="col form-control-file" *ngIf="!readOnly" id="station_picture" #station_picture (change)="onFileSelect($event, 'station_picture')" (click)="station_picture.value = null" accept="image/*" title="Please upload station picture">
          </p>
          <div *ngFor="let doc of station.documents">
            <div *ngIf="doc.isImage == 'station_picture'" class="row">
                <img [src]="_sanitizer.bypassSecurityTrustUrl(doc.url)" width="500"/><button class="pic-delete-btn" mat-icon-button (click)="removeDocument(doc)" *ngIf="!readOnly"><i-x-circle></i-x-circle></button>
            </div>
          </div>
          
        </div>
        <div *ngSwitchCase="'pc'">
            <p class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>Computer IP Address</mat-label>
                <input matInput placeholder="Computer IP Address" id="computer_IP"  [(ngModel)]="station['computer_IP']" [readonly] = "readOnly">
              </mat-form-field>
            </p>
            <p class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>Computer Username</mat-label>
                <input matInput placeholder="Computer Username" id="computer_username" [(ngModel)]="station['computer_username']" [readonly] = "readOnly">
              </mat-form-field>
            </p>
            <p class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>Computer Password</mat-label>
                <input matInput placeholder="Computer Password" id="computer_password" [(ngModel)]="station['computer_password']" [readonly] = "readOnly">
              </mat-form-field>
            </p>
        </div>
        <div *ngSwitchCase="'dut'">
          <p class="row">
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT Name</mat-label>
              <input matInput placeholder="DUT Name" id="DUT_name" [(ngModel)]="station['DUT_name']" [readonly] = "readOnly">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT HW version</mat-label>
              <input matInput placeholder="DUT HW version" id="DUT_HW_version" [(ngModel)]="station['DUT_HW_version']" [readonly] = "readOnly">
            </mat-form-field>
          </p>
          <p class="row" *ngIf = "readOnly">
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT WIFI FW version</mat-label>
              <mat-select placeholder="Please make selection (latest to oldest)" [(value)]="newDutWifiFwVersion['location']">
                <mat-option *ngFor="let version of station['DUT_WIFI_FW_version']" [value]="version.location">
                  {{ version.description }}
                </mat-option>
              </mat-select>
            <a class="location_btn" matSuffix [routerLink] = "['location']" [queryParams] = "{url: newDutWifiFwVersion.location}" target="_blank"><i-arrow-right></i-arrow-right></a>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT BT HCD File</mat-label>
              <mat-select placeholder="Please make selection (latest to oldest)" [(value)]="newDutBtHcdFile['location']">
                <mat-option *ngFor="let file of station['DUT_BT_HCD_file']" [value]="file.location">
                  {{ file.description }}
                </mat-option>
              </mat-select>
              <a class="location_btn" matSuffix [routerLink] = "['location']" [queryParams] = "{url: newDutBtHcdFile['location']}" target="_blank"><i-arrow-right></i-arrow-right></a>
            </mat-form-field>
          </p>
          <p class="row" *ngIf = "!readOnly">
            <mat-form-field appearance="outline" class="col" >
              <mat-label>DUT WIFI FW version</mat-label>
              <input matInput placeholder="DUT WIFI FW Version" id="DUT_WIFI_FW_version" [(ngModel)]="newDutWifiFwVersion['description']" 
                [matAutocomplete]="auto" (focus)="giveSuggestion($event)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col" >
              <mat-label>File Location</mat-label>
              <input matInput placeholder="Copy file path to here" id="DUT_WIFI_FW_version_file_location" [(ngModel)]="newDutWifiFwVersion['location']">
            </mat-form-field>
          </p> 
          <p class="row" *ngIf = "!readOnly">
            <mat-form-field appearance="outline" class="col" >
              <mat-label>DUT BT HCD File</mat-label>
              <input matInput placeholder="DUT BT HCD File" id="DUT_BT_HCD_file" [(ngModel)]="newDutBtHcdFile['description']" 
                [matAutocomplete]="auto" (focus)="giveSuggestion($event)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col" >
              <mat-label>File Location</mat-label>
              <input matInput placeholder="Copy file path to here" id="DUT_BT_HCD_file_location" [(ngModel)]="newDutBtHcdFile['location']">
            </mat-form-field>
          </p>  
          <p class="row">
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT Username</mat-label>
              <input matInput placeholder="DUT Username" id="DUT_username" [(ngModel)]="station['DUT_username']" [readonly] = "readOnly">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
              <mat-label>DUT Password</mat-label>
              <input matInput placeholder="DUT Password" id="DUT_password" [(ngModel)]="station['DUT_password']" [readonly] = "readOnly">
            </mat-form-field>
              <mat-checkbox class="col" [(ngModel)] = "station['external_power_supply']" [disabled] = "readOnly">External Power Supply</mat-checkbox>
          </p>
          <p class="row">
            <mat-form-field appearance="outline" class="col">
              <mat-label>Additional Comment</mat-label>
              <textarea rows="4" matInput placeholder="Additional Comment" id="additional_comments" [(ngModel)]="station['additional_comments']" [readonly] = "readOnly"></textarea>
            </mat-form-field>
          </p>
          <p class="row">
              <mat-label for="DUT_connection_picture">DUT Connection Picture</mat-label>
              <input type="file" class="col" *ngIf="!readOnly" id="DUT_connection_picture" #DUT_connection_picture (change)="onFileSelect($event, 'DUT_connection_picture')" 
                 accept="image/*" (click)="DUT_connection_picture.value = null" title="Please upload DUT connection picture">
          </p>
          <div *ngFor="let doc of station.documents">
            <div *ngIf="doc.isImage == 'DUT_connection_picture'" class="row">
              <img [src]="_sanitizer.bypassSecurityTrustUrl(doc.url)" width="500"/><button class="pic-delete-btn" mat-icon-button (click)="removeDocument(doc)" *ngIf="!readOnly"><i-x-circle></i-x-circle></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'tester'">
          
          <button mat-button *ngIf="!readOnly" (click)="addTester($event)" class="col"><i-file-plus></i-file-plus>Add Tester</button>
          <table mat-table [dataSource]="testerSource" class="col">
    
            <!-- Vender Column -->
            <ng-container matColumnDef="Model">
              <th mat-header-cell *matHeaderCellDef> Tester Model </th>
              <td mat-cell *matCellDef="let element "> <input matInput [(ngModel)]="element.tester_model" placeholder="Tester Model" [readonly] = "readOnly"></td>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="IP">
              <th mat-header-cell *matHeaderCellDef> Tester IP </th>
              <td mat-cell *matCellDef="let element"> <input matInput [(ngModel)]="element.tester_IP" placeholder="Tester IP" [readonly] = "readOnly"> </td>
            </ng-container>
    
            <!-- Vender Column -->
            <ng-container matColumnDef="FirmwareVersion">
                <th mat-header-cell *matHeaderCellDef> Firmware Version </th>
                <td mat-cell *matCellDef="let element "> <input matInput [(ngModel)]="element.firmware_version" placeholder="Firmware Version" [readonly] = "readOnly"> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="testerColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: testerColumns"></tr>
          </table>
        </div>
        <div *ngSwitchCase="'description'">
            <p class="row">
                <mat-form-field appearance="outline" class="col">
                  <mat-label>Station Description</mat-label>
                  <textarea rows="4" matInput placeholder="Station Description" id="station_description" [(ngModel)]="station['station_description']" [readonly] = "readOnly"></textarea>
                </mat-form-field>
              </p>
        </div>
        <div *ngSwitchCase="'document'">
          <div class="dropzone col" appDragAndDrop (fileDropped)="onFileDrop($event)" (click)="document_upload.click()" *ngIf="!readOnly">
            <div class="text-wrapper">
              <div class="centered"><i-upload-cloud></i-upload-cloud>Drop your file here or Click to select file!</div>
            </div>
          </div>
          <input type="file" style="display:none;" id="document_upload" name="file" #document_upload (change)="onFileSelect($event, null)" (click)="document_upload.value = null" multiple/>

          <table mat-table [dataSource]="documentSource" matSort class="col">
            
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDocuments($event)"> Document </th>
              <td mat-cell *matCellDef="let element "> 
                <a *ngIf="element.url" [href]="_sanitizer.bypassSecurityTrustUrl(element.url)" [download]="element.fileName" target="_blank">
                  {{element.fileName}}
                </a> 
                <ng-container *ngIf="!element.url">{{element.fileName}}</ng-container></td>
            </ng-container>

            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDocuments($event)"> Document Size </th>
              <td mat-cell *matCellDef="let element"> {{element.size / 1000}} KB</td>
            </ng-container>

            <ng-container matColumnDef="lastModified">
              <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDocuments($event)"> Last Modified </th>
              <td mat-cell *matCellDef="let element"> {{element.lastModified | date:"MM/dd/yy HH:mm"}}</td>
            </ng-container>
    
            <ng-container matColumnDef="Remove">
              <th mat-header-cell *matHeaderCellDef (click)="sortDocuments($event)"> Remove </th>
              <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="removeDocument(element)" *ngIf="!readOnly"><i-x-circle></i-x-circle></button></td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="readOnly ? documentViewColumns : documentColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: documentColumns"></tr>
          </table>
          <button type="button" class="btn btn-primary" (click)="downloadSelections($event)" style="margin-top: 1em; margin-bottom: 1em;">Download</button>
          <button *ngIf="!readOnly" type="button" class="btn btn-primary" (click)="deleteSelections($event)" style="margin-top: 1em; margin-bottom: 1em; margin-left: 0.5em">Delete</button>
        </div>
      </div>
      
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
    
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-raised-button *ngIf="qaSysService.user.role != 'visitor' && readOnly"	(click)="onChangeView(false)">Update</button>
      <button mat-raised-button	(click)="onChangeView(true)" *ngIf="!readOnly">View</button>
      <button mat-raised-button	(click)="onSubmit($event)" *ngIf="!readOnly" [disabled] = "idError">Save</button>
      <button mat-button (click)="dialogRef.close()">Close</button>
      <button mat-button *ngIf="zoom_state == 'out'" (click)="zoom('in')">Zoom In</button>
      <button mat-button *ngIf="zoom_state == 'in'" (click)="zoom('out')">Zoom Out</button>
  </mat-dialog-actions>
</div>


