mat-toolbar{
    background-color: rgba(255, 255, 255, 0.95);;
    padding: 0;
}

mat-button-toggle-group{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2)
}

.mat-button-toggle-checked {
    background-color: transparent;
    color: rgb(255, 177, 113);
    border-bottom: 2px;
}
::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: center !important;
    box-sizing: border-box;
    width: 100%;
}