/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}