<div class="navbar navbar-dark bg-dark p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" routerLink="/home"><i-home></i-home>Silicon Solution QA Team</a>
  <div class="navbar-btn-group">
    <a class="nav-link" href="javascript:void(0)" routerLink="/login" (click)="this.qaSysService.logout()">Logout</a>
  </div>
</div>

<div class="table-container">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataSource"></mat-progress-bar>
  <div class="card w-75 p-0 mat-elevation-z8">
    <table mat-table [dataSource]="pageDataSource" matSort class="col">
       <!-- username Column -->
       <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let user"> 
          <input matInput [(ngModel)]="user.id" placeholder="username" [readonly]="user.readOnly">
        </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let user"> 
          <input matInput [(ngModel)]="user.email" placeholder="email" [readonly]="user.readOnly">
        </td>
      </ng-container>

      <!-- role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let user"> 
            <mat-select [(value)]="user.role" [disabled]="user.readOnly">
              <mat-option value="user">User</mat-option>
              <mat-option value="admin">Admin</mat-option>
            </mat-select>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let user"> 
          <button mat-icon-button *ngIf="user.readOnly" (click)="editUser(user, $event)"><i-edit></i-edit></button>
          <button mat-icon-button *ngIf="user.readOnly" (click)="deleteUser(user, $event)"><i-trash-2></i-trash-2></button>
          <button mat-icon-button *ngIf="!user.readOnly" (click)="saveUpdate(user, $event)"><i-check></i-check></button>
          <button mat-icon-button *ngIf="!user.readOnly" (click)="discardUpdate(user, $event)"><i-x></i-x></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataSource.data.length" 
      [pageSize]="5" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>