file-drop{
    margin-bottom: 1em;
}

.dropzone {
    min-height: 200px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .centered {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align:center;
  }
  
  .updated {
    background-color: #ffff66
  }

  .deleted {
    background-color: #ff8566
  }

  .inserted {
    background-color: #99ff99
  }