<div>
    <div class="dropzone col" appDragAndDrop (fileDropped)="onFileDrop($event)" (click)="document_upload.click()" *ngIf="!readOnly">
      <div class="text-wrapper">
        <div class="centered"><i-upload-cloud></i-upload-cloud>Drop your file here or Click to select file!</div>
      </div>
    </div>
    <input type="file" style="display:none;" id="document_upload" name="file" #document_upload (change)="onFileChange($event)" (click)="document_upload.value = null" multiple/>
    <table mat-table [dataSource] = "tableDataSource" class="col">
         <!-- Vender Column -->
         <ng-container matColumnDef="File">
            <th mat-header-cell *matHeaderCellDef> File </th>
            <td mat-cell *matCellDef="let element "> 
              <span>{{element.name}}</span></td>
          </ng-container>
  
          <!-- Position Column -->
          <ng-container matColumnDef="Last Modified">
            <th mat-header-cell *matHeaderCellDef> Last Modified </th>
            <td mat-cell *matCellDef="let element">{{element.lastModified | date:"MM/dd/yy HH:mm"}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
    <button type="button" class="btn btn-primary" style="display: flex; align-items: flex-end; justify-content: flex-end" (click)="analyze()"><i-activity></i-activity>Analyze</button>
    <table mat-table [dataSource] = "currentSheet" class="col">
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef> Brand </th>
          <td mat-cell *matCellDef="let element "><span>{{element.brand}}</span></td>
        </ng-container>
  
        <!-- Position Column -->
        <ng-container matColumnDef="CM">
          <th mat-header-cell *matHeaderCellDef>CM</th>
          <td mat-cell *matCellDef="let element"><span>{{element.cm}}</span></td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Chipset">
          <th mat-header-cell *matHeaderCellDef>Chipset</th>
          <td mat-cell *matCellDef="let element"><span>{{element.chipset}}</span></td>
        </ng-container>

        <ng-container matColumnDef="MP">
          <th mat-header-cell *matHeaderCellDef> MP </th>
          <td mat-cell *matCellDef="let element "><span [ngClass] = "{'updated' : updates[element.id] && updates[element.id].mp == 1}">{{element.mp}}</span></td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="Notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let element"><span [ngClass] = "{'updated' : updates[element.id] && updates[element.id].notes == 1}">{{element.notes}}</span></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="resultColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: resultColumns" [ngClass] = "deletes.includes(row) ? 'deleted' : (inserts.includes(row) ? 'inserted' : '')"></tr>
    </table>
</div>
