::ng-deep .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center !important;
}

table.mat-table {
    border-spacing: 0;
    text-align: center;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    text-align: center;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding-left: 24px;
    padding-right: 24px;
}