::ng-deep .mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center !important;
}

table.mat-table {
    border-spacing: 0;
    text-align: center;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    text-align: center;
}