<div class="home-page">
  <div class="landing-page-box">
    <div class="navi-container">
        <img class="logo-home" src="../../assets/images/logo-home.png"/>
        <div class="btn-group">
          <button>Doc & Manuals</button>
          <button>Bookkeeping</button>
          <button>Test Status</button>
          <button>Station Info</button>
        </div>
    </div>
    <div class="team-info">
      <div class="team-intro">
        <h1>
          THE <br/>
          SILICON <br/>
          SOLUTION <br/>
          QA TEAM <br/>
        </h1>
        <p>
          WHAT WE DO
        </p>
        <input type="button" value="Learn More">
      </div>
      <div class="parallax team-img"></div>
    </div>
  </div>
  <div class="station-info">
    <div class="station-info-text-wrap">
      <div class="station-info-text">
          <p class="title" >
            STATION INFORMATION SYSTEM
          </p>
          <p class="description">
            Latest deployments of current stations
          </p>
          <input type="button" value="Go To System"/>
      </div>
    </div>
    <div class="parallax station-info-img"></div>
  </div>
  <div class="test-status">
      <div class="parallax test-status-img"></div>
      <div class="test-status-text-wrap">
          <div class="test-status-text">
              <p class="title" >
                TESTING STATUS SYSTEM
              </p>
              <p class="description">
                Real-time status of current tests
              </p>
              <input type="button" value="Go To System"/>
          </div>
        </div>
  </div>
  <div class="bookkeeping-info">
      <div class="bookkeeping-info-text-wrap">
        <div class="bookkeeping-info-text">
            <p class="title" >
              BOOKKEEPING SYSTEM
            </p>
            <p class="description">
              Management of all compoenents in lab 
            </p>
            <input type="button" value="Go To System"/>
        </div>
      </div>
      <div class="parallax bookkeeping-info-img"></div>
    </div>
</div>
<div class="document-manuals">
    <div class="parallax document-manuals-img"></div>
    <div class="document-manuals-text-wrap">
        <div class="document-manuals-text">
            <p class="title" >
              Docs & Manuals
            </p>
            <p class="description">
              Online records of all documents and manuals
            </p>
            <input type="button" value="Go To System"/>
        </div>
      </div>
</div>