<mat-nav-list>  
    <a href="javascript:void(0)" mat-list-item (click)="openLink('detail')">
      <span mat-line><i-info class="icon"></i-info> Detailed Info</span>
      <span mat-line>Learn the detailed info of this station</span>
    </a>

    <a href="javascript:void(0)" mat-list-item (click)="openLink('update')">
      <span mat-line><i-edit class="icon"></i-edit> Update</span>
      <span mat-line>Update the detailed information of this station</span>
    </a>
  
    <a href="javascript:void(0)" mat-list-item (click)="openLink('favorite')" *ngIf="isFullList">
      <span mat-line><i-heart class="icon"></i-heart> Favorite</span>
      <span mat-line>Add this station to your favorite list</span>
    </a>

    <a href="javascript:void(0)" mat-list-item (click)="openLink('unfavorite')" *ngIf="!isFullList">
      <span mat-line><i-slash class="icon"></i-slash> Unfavorite</span>
      <span mat-line>Remove this station from your favorite list</span>
    </a>
    
    <a href="javascript:void(0)" mat-list-item (click)="openLink('delete')">
      <span mat-line><i-trash-2 class="icon"></i-trash-2> Delete</span>
      <span mat-line>Delete this station</span>
    </a>
  
  </mat-nav-list>